<%- include("./partials/header") %>
<h1>Welcome the campgrounds</h1>
<% campgrounds.map(camps => {%>
    <div>
    <h4><%= camps.name %></h4>
    <img src="<%= camps.images %>" />
    </div>
<% }) %>
<%- include("./partials/footer") %>